.icon{
  vertical-align: bottom;
  display: inline-block;
}
.panel{
  display: none;
  position: relative;
}

.settingsPanel {
  position: absolute;
  background-color: white;
  z-index: 999;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #555555;
  min-width: 50rem;
  left: -4rem;
  top: 4.5rem;
}

.scrollArea{
  overflow-y: scroll;
  max-height: 50rem;
}

.shAnimation{
  overflow: hidden;
  transition: max-height ease-in-out 0.5s;
}

.showElm{
  height: auto;
  max-height: 50rem;
}

.hideElm{
  max-height: 0;
}
