.chartSvg {
    width:100%;
    margin-left: 40px;
    margin-top: 50px;
}

.pointer{
    cursor: pointer;
}
  
.chartDiv {
    display: flex;
    width: 100%;
}

.chartLabel {
    padding-left: 15px;
    font-weight: 300;
}

.tooltip{
    display: none;
    position: fixed;
    background-color: black;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    font-size: 12px;
}