$authorRowHeight :1.5rem;

.authorName{
  position:relative;
  height: $authorRowHeight;
  width: calc(100% - $authorRowHeight - 1rem);
  float: left;
  @apply rounded-btn;
  overflow: hidden;
  border: 2px solid;
}

.authorNameBackground{
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.authorNameText{
  position: absolute;
  @apply font-bold;
  height: 100%;
  width: 100%;
  line-height: calc($authorRowHeight - 2px);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: start;
}

.authorNameText>img{
  display: inline-block;
  height: calc($authorRowHeight - 2px);
}

.authorNameText>span{
  height: calc($authorRowHeight - 2px);
  width: fit-content;
  text-wrap: nowrap;
}

.authorNameText>div{
  position: absolute;
  height: $authorRowHeight;
  width: $authorRowHeight;
  right: 0;
  top: 0;
}
