.sidebar {
  width: 440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.sidebar .configuration {
  flex-grow: 1;
  align-items: flex-start;
  padding-top: 2em;
}

.sidebar:not(:last-child) {
  margin-bottom: 0 !important;
}
