.sidebar {
  flex: 0 0 440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar .panel-heading {
  display: flex;
}

.sidebar .panel-heading span {
  flex: 2 1 auto;
}

.sidebar .panel-heading .button {
  cursor: pointer;
}

.sidebar .configuration {
  flex-grow: 1;
  align-items: flex-start;
}

.sidebar:not(:last-child) {
  margin-bottom: 0 !important;
}

.sidebar .panel-tabs {
  flex-wrap:wrap;
}

.sidebar .panel-tabs a {
  flex: 1 1 50%;
}
