.sidebar {
  flex: 0 0 440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar .configuration {
  flex-grow: 1;
  align-items: flex-start;
}

.sidebar:not(:last-child) {
  margin-bottom: 0 !important;
}
