@import '~bulma';

.help {
  width: 100%;
  overflow-y: scroll;
  font-size: 1.5em;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
    margin-left: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }
}
