.chartSvg {
  width:100%;
}

.chartDiv {
  display: flex;
}

.tooltip{
  display: none;
  position      : absolute;
  text-align    : center;
  max-width     : 150px;
  max-height    : 40px;
  padding       : 8px;
  border        : none;
  border-radius : 8px;
  margin-top    : -30px;
  font          : 10px sans-serif;
  background    : black;
  color         : white;
  pointer-events: none;
}
