.chartSvg {
  width:100%;
}
  
.chartDiv {
  display: flex;
  width: 100%;
}

.axis {
  pointer-events: none;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 800;
}

.tooltip {
  text-align    : left;
  max-width     : 350px;
  max-height    : 100px;
  padding       : 8px;
  border        : none;
  border-radius : 8px;
  font          : 12px sans-serif;
  background    : black;
  color         : white;
  pointer-events: none;
  display: inline;
  position: absolute;
}