.button{
  background-color: white;
  height: 3rem;
  width: 12rem;
}

.button:hover{
  border-bottom-color:  #3273dc;
  /*background-color: lightgray;*/
}

.selected{
  background:  #3273dc;
  color: white !important;
}

.icon{
  display: inline-block;
  height: 2rem;
  position: relative;
  top: 0.5rem;
  margin-left: 1rem;
}

.previewTableContainer{
  width: 50vw;
  height: 50vh;
  overflow: scroll;
}

.previewTable{
}

.previewTableCell{
  border: 1px solid lightgrey;
}

.previewTableHeader{
}

.previewTableHeaderEven{
  border: 1px solid lightgrey;
  background: #eeeeee;
}

.previewTableHeaderOdd{
  border: 1px solid lightgrey;
  background: #cccccc;
}
