.button{
  background-color: white;
  height: 3rem;
  padding: 0 4rem;
}

.button:hover{
  border-bottom-color:  #3273dc;
  /*background-color: lightgray;*/
}

.selected{
  background:  #3273dc;
  color: white !important;
}

.icon{
  display: inline-block;
  height: 2rem;
  position: relative;
  top: 0.5rem;
  margin-left: 1rem;
}

.previewTableContainer{
  width: 50vw;
  height: 50vh;
  overflow: scroll;
}

.previewTable{
}

.previewTableCell{
  border: 1px solid lightgrey;
}

.previewTableHeader{
}

.previewTableHeaderEven{
  border: 1px solid lightgrey;
  background: #eeeeee;
}

.previewTableHeaderOdd{
  border: 1px solid lightgrey;
  background: #cccccc;
}

.sectionArrowContainer{
  display: inline;
  float:left;
  height: 3rem;
  position: relative;
}
.sectionArrowStem{
  position: absolute;
  left: calc(2rem - 1px);
  width: 2px;
  height: 100%;
  background: #cccccc;
}

.sectionArrowHead{
  position: absolute;
  bottom:0;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  border-bottom: 3px solid #cccccc;
  border-right: 3px solid #cccccc;
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.section{
  margin-left: 4rem;
}
