@import '~bulma';

.circle {
  fill: none;
  stroke: $grey-lighter;
}

.issueAxis {
  path {
    stroke: black;
    stroke-width: 2;
  }

  .createMarker {
    stroke: $red;
    fill: $red;
  }

  .closeMarker {
    path {
      stroke: $green;
      fill: $green;
    }
  }
}

.fileAxis {
  stroke: black;

  text {
    text-anchor: start;
    font-size: 12;
  }

  path {
    fill: none;
    stroke-width: 2;
    stroke: black;
  }

  path.changeIndicator {
    fill: $grey;
    stroke-width: 0.5;
  }
}

.configContainer {
  width: 100%;

  form {
    width: 100%;

    .selectContainer {
      width: 100%;

      >div {
        width: 100%;

        :global(.Select-arrow) {
          display: none;
        }
      }
    }
  }
}
