.window{
  position: fixed;
  z-index: 99999;
  height: 10rem;
  width: 50rem;
  background: white;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px #5558;
  left: calc(50vw - 25rem);
  top: calc(50vh - 5rem);
}

.button{
  width: 80%;
  margin: 0.5rem 10%;
}

.textField{
  margin: 0.5rem 1rem;
  width: calc(100% - 2rem);
}

.label{
  margin: 0.5rem 1rem;
}
