@import '~bulma';

.chart {
  outline: none;
}

.clockFace {
  circle {
    fill: none;
    stroke: black;
  }

  .ticks {
    line {
      stroke-width: 1;
      stroke: $grey; 
      fill: none;
    }

    text {
      text-anchor: middle;
      alignment-baseline: middle;
    }
  }

  line.tick {
    stroke-width: 1;
    stroke: $grey; 
  }

  .counts {
    text {
      font-size: 12px;
      text-anchor: middle;
      alignment-baseline: middle;
    }
  }

  .innerDial {
    fill: white;
  }

  .segment {
    stroke: black;
  }

  .curve {
    fill: none;
    stroke-width: 2;
    stroke: $grey-darker;
  }
}

.issues {
  > circle.outer {
    stroke: none;
  }

  > circle.spacer {
    fill: darken($grey-lighter, 15%);
  }
}

.commits {
  > circle.outer {
    stroke: none;
  }

  > circle {
    fill: $white;
  }

  .spacer {
    fill: darken($grey-lighter, 15%);
  }
}


circle.midRadius {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

text.axisDescription {
  font-size: 12px;
}

text.axisDescription.upper {
  text-anchor: end;
}

text.axisDescription.lower {
  text-anchor: start;
}
