.enter {
  stroke: red;
  stroke-width: 15;
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.exit {
  stroke: blue;
  opacity: 0;
}

.exitActive {
  transition: opacity 500ms ease-in;
}
