@import '~bulma';


.chart {
  outline: none;
  flex: 1;
  overflow-x: scroll;
}

svg{
  overflow: auto !important;
}



.scrollBox a  {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


.grid line {
  stroke: $grey-lighter;
}


.configContainer {
  width: 100%;

  form {
    width: 100%;

    .selectContainer {
      width: 100%;

      >div {
        width: 100%;

        :global(.Select-arrow) {
          display: none;
        }
      }
    }

  }


}

.help {
  width: 100%;
  overflow-y: scroll;
  font-size: 1.5em;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
    margin-left: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }
}

.filler {
  justify-content: center;
  align-items: center;
  overflow-x: auto !important;
  color: $grey;
  width: 900px;
  margin-top:50px;
  margin-left: 30px;
  position:relative;

}

svg::-webkit-scrollbar:horizontal {
  height: 11px;
}

svg::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}
