@import '~bulma';

.chartContainer{
  height: 100%;
  width: auto;
  flex-direction: column;
  margin: 5px;

  .chartLine{
    background: #d8d8d8;
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;

    .text{
      width: 10%;
    }

    .chart{
      width: 90%;
      height: 100%;
      background: #ffffff;
    }
  }
}

.configContainer{
  .field + .field {
    border-top: 1px solid #dbdbdb;
  }
}
