.nested {
  margin-left: 5%;
  width: 90%;
  padding: 5px;
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
}

.tree{
  background-color: lightgrey;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
  max-height: 50em;
}

li:not(:last-child) {
  margin-left: 5px;
  width: fit-content;
  padding: 2px;
}
li:last-child {
  margin-left: 5px;
  width: fit-content;
  padding: 2px;
}
.space {
  margin: 5px;
}

.addition {
 background-color: #28cd41;
  border-radius: 5px;
}

.deletion {
  background-color: #ff453a;
  border-radius: 5px;
}

.edit {
  background-color: #bd981d;
  border-radius: 5px;
}
button {
  background-color: white;
  border: 1px solid #555555;
  color: #555555;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition-duration: 0.2s;
}
button:hover {
  background-color: #555555;
  color: white;
}

