@import '~bulma';

.chartContainer {
  outline: none;
}

svg.chart {
  width: 100%;
  height: 100%;

  g.commitCount {
    path {
      stroke: $blue;
      fill: transparentize($blue,0.5);
    }

    $commit-stroke: $green;
    $commit-fill-hover: lighten( $commit-stroke, 30% ); 
    $commit-fill: transparentize($commit-fill-hover, 0.75);


    .commit {

      circle {
        stroke-width: 2;
        stroke: $commit-stroke;
        fill: $commit-fill;
      }
      cursor: hand;
    }

    .commit:hover {
      circle {
        fill: $commit-fill-hover;
      }
    }
  }

  g.openIssuesCount {
    path {
      stroke: $red;
      fill: transparentize($red, 0.75);
    }
  }

  g.closedIssuesCount {
    path {
      stroke: none;
      fill: transparentize($green, 0.75);
    }
  }
}

.grid line {
  stroke: $grey-lighter;
}
