@import '~bulma';

.chartContainer {
  outline: none;
}


svg.chart {
  width: 100%;
  height: 100%;
  cursor: grab;
  cursor: -webkit-grab;

  g.commitCount {
    path {
      stroke: $blue;
      fill: lighten($blue, 20%);
    }

    $commit-stroke: $green;
    $commit-fill-hover: lighten( $commit-stroke, 30% ); 
    $commit-fill: transparentize($commit-fill-hover, 0.75);


    .commit {

      circle {
        stroke-width: 2;
        stroke: $commit-stroke;
        fill: $commit-fill;
      }
      cursor: hand;
    }

    .commit:hover {
      cursor: hand;
      circle {
        fill: $commit-fill-hover;
      }
    }
  }

  g.openIssuesCount {
    path {
      stroke: $red;
      fill: lighten($red, 20%);
    }
  }

  g.closedIssuesCount {
    path {
      stroke: none;
      fill: lighten($green, 20%);
    }
  }
}

svg.chart.panning {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.grid line {
  stroke: $grey-lighter;
}
