.authorList{

}

.authorListScrollContainer{
  max-height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.authorRow{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  width: calc(100% - 25px);
  border-radius: 5px;;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  border:1px solid lightgray;
  overflow: hidden;
}

.individualCommitter{
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background: white;
  padding: 0.1rem;
  border: 1px solid darkgray;
  pointer-events: none;
  margin-right: 0.5rem;
}

.individualCommitterColor{
  width: 1rem;
  border-radius: 2px;
  border: 1px solid white;
}

.individualCommitterText{
}
