.authorMerger{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.backgroundBlur{
  width: 100%;
  height: 100%;
  background: #fff8;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorMergerContainer{
  background: white;
  width: 95vw;
  max-width: 80vh;
  box-shadow: 0 0 10px #5558;
  border-radius: 1rem;
  padding: 0.5rem;
  height: 80vh;
  overflow: hidden;
}

.authorMergerScroll{
  height: 100%;
  overflow-y: scroll;
}

.authorMergerContainer>h1{
  font-size: 2rem;
  font-weight: bold;
}

.committerRow{
  border-bottom: 1px solid lightgray;
}

.committerContainer{
  display: inline-block !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  width: calc(100% - 22rem);
  min-height: 3rem;
  margin: 0.1rem 0.5rem ;
  background: lightgray;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid lightgray;
}

.dragAndDrop{
  -webkit-user-drag: element;
}

.otherContainer{
  width: calc(100% - 1rem);
}

.authorMergerContainerDragOver{
  border: 4px dashed darkgray;
  font-weight: bold;
}

.individualCommitter{
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background: white;
  padding: 0.1rem;
  border: 1px solid darkgray;
  pointer-events: none;
  margin-right: 0.5rem;
  height: 2rem;
  max-width: 80%;
  overflow: hidden;
}

.individualCommitterColor{
  position: absolute;
  top:0;
  left: 0;
  display: inline-block;
  width: 1rem;
  height: 1.8rem;
  border-radius: 2px;
  border: 1px solid white;
}

.individualCommitterText{
  display: inline-block;
  height: 2rem;
  margin-left: 1.5rem;
  width: max-content;
}

.addToOtherButton{
  margin: 0.1rem 0.5rem ;
  display: inline-block;
  width: 20rem;
  border-width: 1px;
}

.removeButton{
  pointer-events: all;
  color: white!important;
  background: indianred!important;
  padding: 0.5rem 0.1rem;
  margin-top: -0.1rem;
  margin-right: -0.1rem;
  margin-left: 0.5rem;
  height: 1.8rem!important;
  font-size: 1rem!important;
}

.removeButton:hover{
  border-color: white;
  color: white;
  background: darkred;
}

.accentButton{
  background: #3273dc;
  color: white;
  margin-left: 1rem;
}

.accentButton:hover{
  background: #2262ca;
  color: whitesmoke;
}
