@import '~bulma';

.chart {
    outline: none;
    flex: 1;
}


.config {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.help {
    width: 100%;
    overflow-y: scroll;
    font-size: 1.5em;
    height: 100%;

    h2 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.1em;
        font-weight: bold;
    }

    ul {
        list-style-type: circle;
        margin-left: 1.5em;
    }

    p {
        margin-bottom: 1em;
    }
}

.filler {
    justify-content: center;
    align-items: center;
    color: $grey;
}

.button {
    background-color: white;
    height: 3rem;
    width: 12rem;
}

.button:hover {
    border-bottom-color: #3273dc;
    /*background-color: lightgray;*/
}


.w100 {
    width: 100%;
}

.mg1 {
    margin: 1rem;
}

.pr {
    position: relative;
}

.inline {
    display: inline;
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.subLabel {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 500;
}

.headline {
    color: #363636;
    display: block;
    font-size: 2rem;
    font-weight: 700;
}

.highlighted {
    position: fixed;
    z-index: 9999;
    border: red dashed 5px;
}

.verticalSeparator {
    border-left: 1px solid #cccccc;
    float: left;
    height: 3rem;
    margin: 1rem 0.5rem;
}

.switch:after {
    background-color: #3273dc !important;
}

.branchSelect {
    width: 100%;
}

.branchSelect>select {
    border-color: #cccccc;
}

.dependencyChart{
    width: 100%;
    height: 300px;
}

.dependencyTitle{
    color: #363636;
    display: block;            
    font-size: 1rem;
    font-weight: 700;
    padding-left: 12px;
}

.dependencyList{
    padding-left: 12px;
    margin-top: 12px;
}