@import 'bulma/bulma.sass';

.hoverTarget {
  position: absolute;
  z-index: 1;
  right: 0.5rem;
  top: 0.5rem;
  width: 3rem;
  height: 3rem;
  background: white;
  box-shadow: 0 0 10px #5558;
  border: 1px solid #4882e0;
  border-radius: 1.5rem;
  transition: all ease-in-out 0.2s;
  overflow: hidden;
}

.hoverTarget:hover{
  border-radius: 0.5rem;
  width: 20rem;
  height: 15rem;
}

.progressBoxInner{
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  height: 15rem;
}

.headline{
  position: absolute;
  top: 0.1rem;
  left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.statusBar{
  position: absolute;
  height: 6rem;
  width: 20rem;
  top: 0;
  right: 0;
}

.path{
  transition: all ease-in-out 0.5s;
}

.loadingAnimation{
  position: absolute;
  stroke: #53d769;
  width: 2rem;
  height: 2rem;
  right: 0.25rem;
  top: 0.5rem;
  stroke-dasharray: 100 200;
  animation: loadingAnimation 1s linear infinite;
}

@keyframes loadingAnimation {
  to {
    stroke-dashoffset: 314.159;
  }
}

.progressInfo{
  position: absolute;
  overflow-y: scroll;
  height: 10rem;
  top:5rem;
  width: 20rem;
  padding: 0 1rem ;
  border:1px solid lightgray;
}
