@import '../../../../../node_modules/bulma';

.chartContainer{
  height: 100%;
  width: auto;
  flex-direction: column;
  padding: 5px;
  justify-content: center;

  .loadingHintContainer{
    .loadingHint {
      font-size: 40px;
      text-align: center;
    }
  }

  .chartLine{
    background: #d8d8d8;
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 32%;

    .text{
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      margin-right: 10px;
    }

    .chart{
      width: 100%;
      height: 100%;
      background: #ffffff;
      display: flex;
    }
  }
}

.configContainer{
  .field + .field {
    border-top: 1px solid #dbdbdb;
  }

  .checkboxLabel {
    cursor: pointer;
  }
}

.form {
  margin-bottom: 0;
}
