.plusButton{
  display: inline-block;
  color:white;
  font-weight: bold;
  background: #3273dc;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
}

.inlineIcon{
  display: inline-block;
  height: 1em;
}
