@import "../../../variables.scss";

$dashboardItemInteractionBarThickness: 1.5rem;
$dashboardItemResizeBarThickness: 3px;
.dashboardItem{
  position: absolute;
  @apply bg-base-200;
  border-radius: $border-radius-default;
  border: $border-default;
  @apply border-base-300;
  box-shadow: $shadow-default;
  overflow: hidden;
}

.dashboardItemContent{
  position: absolute;
  width: 100%;
  height: calc(100% - $dashboardItemInteractionBarThickness);
  top: $dashboardItemInteractionBarThickness;
  @apply bg-base-100;
}

.dashboardItemInteractionBar{
  position: absolute;
  @apply bg-base-100;
  box-shadow: $shadow-default;
  user-select: none;
  cursor: grab;
  height: $dashboardItemInteractionBarThickness;
  width: 100%;
}

.dragResizeZone{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: grabbing;
}

.dragIndicator{
  position: absolute;
  border-radius: $border-radius-default;
  @apply bg-base-100;
  opacity: .5;
  user-select: none;
  overflow: hidden;
  border: $border-default;
  @apply border-accent;
}

.dashboardItemResizeBarTop{
  position: absolute;
  top: 0;
  left: $dashboardItemResizeBarThickness;
  width: calc(100% - $dashboardItemResizeBarThickness * 2);
  height: $dashboardItemResizeBarThickness;
  cursor: ns-resize;
}

.dashboardItemResizeBarRight{
  position: absolute;
  top: $dashboardItemResizeBarThickness;
  right: 0;
  width: $dashboardItemResizeBarThickness;
  height: calc(100% - $dashboardItemResizeBarThickness * 2);
  cursor: ew-resize;
}

.dashboardItemResizeBarBottom{
  position: absolute;
  bottom: 0;
  left: $dashboardItemResizeBarThickness;
  width: calc(100% - $dashboardItemResizeBarThickness * 2);
  height: $dashboardItemResizeBarThickness;
  cursor: ns-resize;
}

.dashboardItemResizeBarLeft{
  position: absolute;
  top: $dashboardItemResizeBarThickness;
  left: 0;
  width: $dashboardItemResizeBarThickness;
  height: calc(100% - $dashboardItemResizeBarThickness * 2);
  cursor: ew-resize;
}
