.landing {
  display: flex;
  // flex-grow: 1;
  justify-content: center;
  align-content: center;
}

.glitch {
  font-size: 3em;
  position: relative;
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
