:global .CodeMirror {
  font-family: monospace;
  height: auto;
  color: black;
  width: 100%;
  direction: ltr;
  position: absolute;
  z-index: 0;
  background: transparent;
}

/*:global .react-codemirror2{
  width: calc(100% - 30px);
  overflow: hidden;
  position: absolute;
}*/

:global html{
  overflow: hidden;
}

:global .cm-editor{
  background-color: transparent !important;
}

:global .cm-activeLine{
  background-color: transparent !important;
}
