@import '../../../variables';

.tabSectionHorizontal{
  display: inline-block;
  height: 100%;
  min-width: 20rem;
  padding: .5rem;
  border-right: 1px solid;
  @apply border-base-300;
  float: left;
}

.tabSectionVertical{
  display: inline-block;
  width: 100%;
  padding: .5rem;
  border-bottom: 1px solid;
  @apply border-base-300;
  float: left;
}

.tabSectionName{
  font-size: .6rem;
  @apply text-neutral-400;
}
