.sprintManager{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.backgroundBlur{
  width: 100%;
  height: 100%;
  background: #fff8;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprintManagerContainer{
  background: white;
  width: 95vw;
  max-width: 80vh;
  min-height: 3rem;
  box-shadow: 0 0 10px #5558;
  border-radius: 1rem;
  padding: 0.5rem;
  height: 80vh;
  overflow: hidden;
}


.sprintManagerScroll{
  height: 100%;
  overflow-y: scroll;
}

.sprintManagerPanel{
  padding: 0.5rem;
  border:1px solid lightgray;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

.sprintManagerPanel>h2{
  margin-top: 0;
  margin-bottom: 1rem;
}

.accentButton{
  background: #3273dc!important;
  color: white!important;
}

.accentButton:hover{
  background: #2262ca!important;
  color: whitesmoke!important;
}

.p05{
  padding: 0.5rem;
}

.mb05{
  margin-bottom: 0.5rem;
}

.wrongInput{
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 0.5rem;
}

.wrongInput::before{
  top: calc(50% - 50vw);
  left: calc(50% - 50vw);
  z-index: -2;
  width: 100vw;
  height: 100vw;
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(indianred, indianred), linear-gradient(white, white), linear-gradient(white, white), linear-gradient(white, white);
  animation-name: wrongInputKeyframes;
  animation-duration: 4s;
  opacity: 0;
  animation-timing-function: ease-in-out;
}

.wrongInput::after{
  top:2px;
  left: 2px;
  z-index: -1;
  position: absolute;
  content: '';
  background: white;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  animation-name: wrongInputInnerKeyframes;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  border-radius: 0.35rem;
}

@keyframes wrongInputKeyframes{
  0% {rotate: 0;opacity: 0}
  10% {opacity: 100}
  90% {opacity: 100}
  100% {rotate: 360deg;opacity: 0}
}

@keyframes wrongInputInnerKeyframes{
  0% {  background: white}
  10% {  background: #f1d2d2}
  90% {  background: #f1d2d2}
  100% {  background: white}
}

.dateTimePicker{
  font-size: 1rem;
  height: 2.25em;
  border: 1px solid #dbdbdb;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
  padding: 0 1rem;
  width: 40%;
}

.dateTimePicker:focus{
  outline: none!important;
  border: 1px solid #4882e0!important;
}


