@import '../../../../variables.scss';
@import '../tabControllerVariables.module.scss';

.dropZone{
  position: absolute;
  border-radius: $border-radius-default;
  background: repeating-linear-gradient(
      45deg,
      $highlight-color-primary,
      white 2px,
      white 8px,
      $highlight-color-primary 10px
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropZoneTop{
  top:0;
  left: 0;
}

.dropZoneRight{
  right:0;
  top: $tab-bar-thickness;
}

.dropZoneBottom{
  bottom:0;
  left: 0;
}

.dropZoneLeft{
  left:0;
  top: $tab-bar-thickness;
}

.dropZoneLeft>div{
  rotate: 180deg;
}

.dropZoneHorizontal{
  width: 100%;
  height: $tab-bar-thickness;
}

.dropZoneVertical{
  height: calc(100% - $tab-bar-thickness);
  width: $tab-bar-thickness;
}

.dropZoneHorizontal>div{
  background: $highlight-color-primary;
  color: white;
  padding: .25rem;
  border-radius: 1rem;
}

.dropZoneVertical>div{
  background: $highlight-color-primary;
  color: white;
  padding: .25rem;
  border-radius: 1rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
