@import '~bulma';

.hoverTarget {
  height: 30px;
  width: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100%;
  clear: both;

  .barContainer {
    height: 1px;
    width: 100%;
    display: flex;
    align-items: stretch;

    transition: height 0.3s;
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    height: 0px;
    overflow: hidden;
  }
}
./pupi
.hoverTarget:hover {
  height: 65px;

  .barContainer {
    height: 100%;
    border-bottom: 1px solid $grey;
  }

  .info {
    height: 100%;
  }
}

.fillerContainer {
  position: relative;
  transition: width 1s;

  .filler {
    background-color: $green;
    height: 100%;
    width: 100%;
  }
}
