.button{
  background-color: white;
  height: 3rem;
  width: 12rem;
}

.button:hover{
  border-bottom-color:  #3273dc;
  /*background-color: lightgray;*/
}


.selected{
  background-color: #3273dc !important;
  color: whitesmoke !important;
  font-weight: bold;
}
