@import '~bulma';

.chart {
  outline: none;
  flex: 1;
}


.config{
  width:100%;
  height: 100%;
  overflow: hidden;
}

.help {
  width: 100%;
  overflow-y: scroll;
  font-size: 1.5em;
  height: 100%;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
    margin-left: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }
}

.filler {
  justify-content: center;
  align-items: center;
  color: $grey;
}

.codeView{
  height: calc(100vh - 130px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top:100px;
  width: 100%;
}

.heatmapContainer{
  width: 100%;
  margin: 0 0 0 40px;
}
.rowSummaryContainer{
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.barChartContainer{
  position: absolute;
  left: 40px;
  width: calc(100% - 120px);
}

.menubar{
  background-color: #EEEEEE;
  margin-bottom: 1rem;
}

.selected{
  background-color: #3273dc !important;
  color: whitesmoke !important;
}

.w100{
  width: 100%;
}

.mg1{
  margin: 1rem;
}

.pr{
  position: relative;
}

.inline{
  display: inline;
}

.label{
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.subLabel{
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.headline{
  color: #363636;
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

.highlighted{
  position: fixed;
  border: red dashed 5px;
}

.button{
  background-color: whitesmoke;
}

.button:hover{
  background-color: lightgray;
}
