.authorList{

}

.authorRow{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  width: 80%;
  border-radius: 0.5rem;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  border:1px solid lightgray;
  overflow: hidden;
}

.individualCommitter{
  display: inline-block;
  position: relative;
  border-radius: 0.3rem;
  background: white;
  padding: 0.1rem;
  border: 1px solid darkgray;
  pointer-events: none;
  margin-right: 0.5rem;
}

.individualCommitterColor{
  width: 1rem;
  border-radius: 0.2rem;
  border: 1px solid white;
}

.individualCommitterText{
}
