@import '~bulma';

.help {
  width: 100%;
  overflow-y: scroll;
  font-size: 1.5em;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
    margin-left: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }

  i {
    width: 25px;
    text-align: center;
  }
}

.configContainer{

}


.chartContainer{
  height: 90vh;
  width: auto;
  flex: 1;
  display: flex;
 flex-direction: column;
  overflow: scroll;
  padding: 5px;
  justify-content: center;

.chartLine {
  align-items: center;
  min-height: 300px;
  width: 80vw;
}
  .branchChart{
    margin-top: 20px;
  }

  foreignObject{
    border: black 1px solid;
    overflow: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    hr{
      color: #000000;
      width: 90%;
      margin-left:5% !important;
      margin-right:5% !important;
    }
  }
  foreignObject::-webkit-scrollbar {
    display: none;
  }

  h2{
    padding-left: 20px;
  }
}
