@import '~bulma';

.hoverTarget {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  height: 50px;
  width: 50px;
  $transition-time: 0.5s;
  transition: width $transition-time ease-in-out, height $transition-time ease-in-out;

  .donut {
    $ring-width: 5;
    $ring-color: $grey-light;
    $fill-color: #00fa9a;

    .text {
      text-anchor: middle;
      alignment-baseline: middle;
      font-size: 10;
      fill: $grey;
    }

    .text.details {
      display: none;
      font-size: 3;
    }

    .hole {
      fill: white;
    }

    .ring, .segment {
      fill: transparent;
    }

    .ring {
      stroke-width: $ring-width - 1;
      stroke: $ring-color;
    }

    .segment {
      stroke-width: $ring-width;
      stroke: $fill-color;
    }
  }

  .workIndicator {
    circle {
      fill: none;
      stroke: $white;
      stroke-width: 5;
      stroke-dasharray: 4 4;
    }
  }
}

.hoverTarget:hover {
  height: 200px;
  width: 200px;

  .donut {
    $colors: #00EE76 #00CD66 #008B45;
    @for $i from 1 through length($colors) {
      .segment:nth-child(#{$i
                          }) {
        stroke: nth($colors, $i);
      }
    }

    .text {
      display: none;
    }

    .text.details {
      display: block;
    }
  }
}
