@import 'bulma/bulma.sass';;

.configContainer {
  width: 100%;

  form {
    width: 100%;

    #select {
      width: 100%;
    }

  }
}

.chartContainer{
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 5px;
  justify-content: center;

  .chart{
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;

    .messageContainer{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
