.darkBG {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal {
  background-color: white;
  width: 500px;
  height: 500px;
  z-index: 10;
  position: absolute;
  margin-left: auto;

  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}


.modalHeader {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.modalBody {}
.modalFooter {}

.modalFileContainer {
  overflow: scroll;
  max-height: 300px;
}
.modalFileItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modalFileItemPath{
  margin-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.modalFileItemIcon{
  margin-right: 30px;
}
