.darkBG {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  background-color: white;
  width: 700px;
  height: 500px;
  z-index: 10;
  position: absolute;
  margin-left: auto;

  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

  .footer {
    display: flex;
    justify-content: end;
    margin: 10px 15px 15px 0;

    button {
      cursor: pointer;
      border-radius: 3px;
      background-color: #3273dc;
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border: none;
      color: white;
    }
  }
}
.header {
  margin-top: 15px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.iconButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 100%;
}
.leftButton {
  margin-left: 17px;
}
.rightButton {
  margin-right: 17px;
}

.fill {
  width: 32px !important;
  height: 32px !important;
}
.modalBody {}

.item{
  margin-left: 15px;
}
.fileBody {
  margin-left: 35px;
}
.headerText{
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.headerIcon{
  width: 20px;
  height: 20px;
}
.branch {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.branchIcon {
  width: 15px;
  height: 15px;
}
.branchText {
  margin-left: 10px;
}
