@import 'bulma/bulma.sass';;

.filterBox {
  ul {
    height: 7em;
    overflow-y: scroll;

    li {
      overflow: hidden;
      text-overflow: ellipsis;
      label {
        white-space: nowrap;
      }
    }
  }
}
