@import 'bulma/bulma.sass';;

.chartContainer{
  position: relative;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.headline{
  font-weight: bold;
  font-size: 2em;
}

.configContainer{
  width: 100%;
  overflow-x: hidden;

  .field + .field {
    border-top: 1px solid #dbdbdb;
  }

  .checkboxLabel {
    cursor: pointer;
  }

  h2{
    font-weight: bold;
    font-size: 1.5em;
  }

  hr{
    margin: 0.5em 0;
  }
}

.form {
  margin-bottom: 0;
}

.marginTop05{
  margin-top: 0.5rem;
}

.separator{
  margin-bottom: 2rem;
}

.configComponentContainer{
  margin-left: 0.5rem;
  border-left: 1px solid lightgray;
  padding-left: 0.5rem;
}
