.notifications {
  float: left;
  position: absolute;
  right: 50%;
  margin-top: 10px;
  clear: both;
}

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.exit {
  opacity: 1;
}

.exitActive {
  transition: opacity 300ms easy-in;
}
