.notificationView{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.notification{
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
  border-radius: 4px;
  @apply shadow-2xl;
}
