
.timelineHorizontal{
  display: flex;
  flex-direction: row;
  max-width: 50rem;
  overflow-y: hidden;
  overflow-x: scroll;
}

.timelineVertical{
  display: flex;
  flex-direction: column;
}

.sprint{
  position: relative;
  min-width: 7rem;
  font-size: .5rem;
  margin: .5rem .1rem;
  padding:  0 .2rem;
  border: 2px solid;
  border-radius: 4px;
  @apply border-base-300;
  @apply shadow;
}

.endDate{
  position: absolute;
  width: max-content;
  background: #ff3b3055;
  right: 0;
  bottom: -.6rem;
  font-size: .4rem;
  height: .6rem;
  padding: 0 1rem 0 .1rem;
  line-height: .7rem;
}

.endDate:before{
  content: '';
  height: 1.5rem;
  border-top: 2px solid transparent;
  border-right: 2px solid #ff3b30;
  position: absolute;
  right: -2px;
  bottom: 0;
}

.endDate:after{
  content: '';
  border: .35rem solid transparent;
  border-right-color: #ff3b30;
  position: absolute;
  right: 0;
}

.startDate{
  position: absolute;
  width: max-content;
  background: #4cd96455;
  left: 0;
  top: -.6rem;
  font-size: .4rem;
  height: .6rem;
  padding: 0 .1rem 0 1rem;
  line-height: .7rem;
}

.startDate:before{
  content: '';
  height: 1.5rem;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #4cd964;
  position: absolute;
  left: -2px;
  top: 0;
}

.startDate:after{
  content: '';
  border: .35rem solid transparent;
  border-left-color: #4cd964;
  position: absolute;
  left: 0;
}
