.DataExport {
  max-width: 100%;
  overflow: hidden;

  .preview {
    max-width: 97%;
    overflow: scroll;
    // min-width: 100%;
  }
}

.table-container {
  max-width: 100vw;
  overflow: scroll;
  max-height: 35vh;
}
