@import 'bulma/bulma.sass';;

.chartContainer{
  height: 100%;
  width: auto;
  flex-direction: column;
  padding: 5px;
  justify-content: center;

  .loadingHintContainer{
    .loadingHint {
      font-size: 40px;
      text-align: center;
    }
  }

  .chartLine{
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;

    .text{
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      margin-right: 10px;
    }

    .chart{
      width: 100%;
      height: 100%;
      background: #ffffff;
      display: flex;
    }
  }
}

.configContainer{
  .field + .field {
    border-top: 1px solid #dbdbdb;
  }

  .checkboxLabel {
    cursor: pointer;
  }
  h2{
    font-weight: bold;
    font-size: 1em;
    margin-top: 1rem;
  }
}

.form {
  margin-bottom: 0;
}

.help {
  width: 100%;
  overflow-y: auto;
  font-size: 1.5em;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
    margin-left: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }

  i {
    width: 25px;
    text-align: center;
  }
}

.errorMessage:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.errorMessage{
  width: 100%;
  text-align: center;
}

.chartSvg {
  width:100%;
  height: 100%;
  position: relative;
}

.tooltip{
  z-index: 9999;
  width: 30rem;
  background: #fffa;
  min-height: 5rem;
  border-radius: .2rem;
  box-shadow: 0 0 10px #5558;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: .5rem;
}
.tooltipIID{
  color: gray;
  font-weight: bold;
}
.tooltipTitle{
  font-weight: bold;
  margin-left: .5rem;
}

.timeSpentBar{
  width: 100%;
  background: whitesmoke;
  border-radius: .2rem;
  overflow: hidden;
}

.timeSpentBlock{
  display: inline-block;
  overflow: hidden;
  padding: .2rem;
}

.timeSpentBlockText{
  height: 1.2rem;
  width: max-content;
  font-size: 1rem;
  background: white;
}
.timeSpentBlockTime{
  height: 1rem;
  font-size: .75rem;
  width: max-content;
  background: white;
}

