@import 'bulma/bulma.sass';;

.configContainer{
  width: 100%;
  overflow-x: hidden;

  .field + .field {
    border-top: 1px solid #dbdbdb;
  }
  .inputSections {
    margin-bottom: 1em;
  }

  .input {
    display: inline;
    max-width: 100px;
  }

  .slider {
    margin: 0 10px;
  }

  .loadingHint {
    font-size: 20px;
    text-align: center;
  }
}

.loadingHint {
  font-size: 40px;
  text-align: center;
}

.chartContainer {
  width: 100%;
  display: inline;
}
