@import 'bulma/bulma.sass';;

.configContainer{
  width: 100%;
  overflow-x: hidden;

  .field + .field {
    border-top: 1px solid #dbdbdb;
  }
  .inputSections {
    margin-bottom: 1em;
  }

  .input {
    display: inline;
    max-width: 100px;
  }

  .slider {
    margin: 0 10px;
  }

  .loadingHint {
    font-size: 20px;
    text-align: center;
  }
}

.loadingHint {
  font-size: 40px;
  text-align: center;
}

.chartContainer {
  width: 100%;
  display: inline;
}

.help {
  width: 100%;
  overflow-y: auto;
  font-size: 1.5em;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
    margin-left: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }

  i {
    width: 25px;
    text-align: center;
  }
}
