@import './variables.scss';
@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
    @apply underline;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply underline;
  }
}
@tailwind components;
@tailwind utilities;



#root{
  @apply bg-base-100;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#popout-content-container{
  width: 100%;
  height: 100%;
}
