$bg-color-primary: #FFFFFF;

$highlight-color-primary: #007AFF;

$padding-primary: .2rem;

$border-default-width: 1px;
$border-default-color: #CCCCCC;
$border-default: $border-default-width solid $border-default-color;
$border-radius-default: 5px;

$shadow-default: 0 0 10px #CCCCCC;

$statusBarHeight: 1.5rem;
