$padding-primary: .2rem;

$border-default-width: 1px;
$border-default: $border-default-width solid;
$border-radius-default: 5px;

$shadow-default: 0 0 10px #CCCCCC;
$shadow-default-inset: 0 0 10px #CCCCCC inset;

$statusBarHeight: 1.5rem;
