.legend {
  text {
    alignment-baseline: middle;
  }

  .icon {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
  }

  .background {
    fill: rgba(255, 255, 255, 0.8)
  }

  .legend .background {
    fill: white;
  }
}
